#include "alish40-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

#define MK(row, col) (((row) << 8) | (col))

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,underglow = &led_strip;
        zmk,physical-layout = &phys_layout;
        /* zmk,matrix-transform = &default_transform; 이거 없어야 한다고 함 */
        
        /* Studio 필수 설정 */
        zephyr,console = &cdc_acm_uart;
        zephyr,shell-uart = &cdc_acm_uart;
        zmk,storage = &storage_partition;
    };

    vcc_ctrl: vcc_ctrl {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        row-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios = <&pro_micro 0  GPIO_ACTIVE_HIGH>,
                    <&pro_micro 2  GPIO_ACTIVE_HIGH>,
                    <&pro_micro 3  GPIO_ACTIVE_HIGH>,
                    <&pro_micro 16 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 14 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 15 GPIO_ACTIVE_HIGH>;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <8>;
        columns = <6>;
        map = <
            MK(0,0) MK(1,0) MK(0,1) MK(1,1) MK(0,2) MK(1,2) MK(0,3) MK(1,3) MK(0,4) MK(1,4) MK(0,5) MK(1,5)
            MK(2,0) MK(3,0) MK(2,1) MK(3,1) MK(2,2) MK(3,2) MK(2,3) MK(3,3) MK(2,4) MK(3,4) MK(2,5) MK(3,5)
            MK(5,0) MK(4,0) MK(5,1) MK(4,1) MK(5,2) MK(4,2) MK(5,3) MK(4,3) MK(5,4) MK(4,4) MK(5,5) MK(4,5)
            MK(6,0) MK(7,0) MK(6,1) MK(6,2) MK(7,3) MK(6,4) MK(7,5) MK(6,5)
        >;
    };
};

/* --- 3. 외부 노드 및 플래시 설정 (주소 변경) --- */

/* 3-1. 기존에 보드 설정에 들어있을지 모르는 노드를 삭제 */
/delete-node/ &storage_partition;

/* 3-2. 다시 깨끗하게 정의 */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@ec000 {
            label = "storage";
            reg = <0x000ec000 DT_SIZE_K(32)>;
        };
    };
};

&pinctrl {
    spi3_default: spi3_default {
        group1 { psels = <NRF_PSEL(SPIM_MOSI, 0, 29)>; };
    };
    spi3_sleep: spi3_sleep {
        group1 { psels = <NRF_PSEL(SPIM_MOSI, 0, 29)>; low-power-enable; };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <10>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

&zephyr_udc0 {
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/ {
    phys_layout: phys_layout {
        compatible = "zmk,physical-layout";
        display-name = "Alish40";
        transform = <&default_transform>;
        kscan = <&default_kscan>;
        /* 알림: 'alish40-layouts.dtsi' 파일 안에 각 키의 좌표(keys 속성)가 
           정의되어 있어야 Studio 화면에 키보드가 정상적으로 출력됩니다.
        */
    };
};
