#include <dt-bindings/zmk/matrix_transform.h>

/ {
    zmk_key_physical_attrs: zmk_key_physical_attrs {
        compatible = "zmk,key-physical-attrs";
        #key-cells = <7>;
    };

    phys_layout: phys_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&default_kscan>;
        keys
            = <ZMK_KEY_PHYSICAL_ATTRS(150, 50, 0, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 150, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 250, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 350, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 450, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 550, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 750, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 850, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 950, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1050, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1150, 0)>, <ZMK_KEY_PHYSICAL_ATTRS(150, 100, 1250, 0)>
            , <ZMK_KEY_PHYSICAL_ATTRS(175, 100, 0, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 175, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 275, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 375, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 475, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 575, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 775, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 875, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 975, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1075, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1175, 100)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 1275, 100)>
            , <ZMK_KEY_PHYSICAL_ATTRS(225, 100, 0, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 225, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 325, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 425, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 525, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 625, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 725, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 825, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 925, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1025, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(100, 100, 1125, 200)>, <ZMK_KEY_PHYSICAL_ATTRS(175, 100, 1225, 200)>
            , <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 0, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 125, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 350, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(225, 100, 475, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(275, 100, 700, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 975, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 1150, 300)>, <ZMK_KEY_PHYSICAL_ATTRS(125, 100, 1275, 300)>
            ;
    };
};
